* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.full-page-image {
    background-image: url('images/lyric01.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: purple; /* Changed to purple */
    padding: 20px;
    color: white; /* White text */
    font-size: 32px; /* Increased font size */
    font-family: 'Courier New', Courier, monospace; /* Retro font */
    font-weight: bold; /* Bold text */
    border-radius: 10px;
    text-align: center;
}
